* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E1014;
    color: #F5F5F5;
}

header img {
    display: block;
    margin: 60px 0 0 360px;
}

h1 {
    font-size: 64px; 
    font-family: "Unbounded", "sans-serif";
    font-weight: bold;
    text-align: center;
    margin-top: 60px auto 0;
}  

.destaque {
    color: #9747FF
}

p {
    font-size: 24px;
    font-family: "Poppins", "sans-serif";
    text-align: center;
    margin: 24px auto 0;
    width: 792px;

}

a {
    color: #F5F5F5;
    background-color: #9747FF;
    font-size: 24px;
    font-family: "Poppins", "sans-serif";
    text-decoration: none;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color: #8233E8;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}
    
@media(max-width: 768px){

    header img{
        margin: 65px 0 0 60px;
    }

    p{
        width: 648px;
    }
}

@media(max-width: 375px){
     header img{
        margin: 32px 0 0 16px;
    }
    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }

    a{
        font-size: 20px;
        width: 251px;
    }
    section img {
        width: 340px;
        height: 230px;
    }
}

